

.img{
    width: 150px;
    margin-right: 80px;
}

.navbar{
    background-color: black !important;
}   

.dm{
    display: flex;
}

.container-fluid{
    background-color: black;
   
}

.nav-link{
    margin-left: 85px;
}

.free {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
}


.coll{
    position:absolute;
    display: flex;
    border-bottom: 1px solid lightgrey;
    background-color: white;
    
}

.v1{
    margin-top: 30px;
    border-left: 1px solid lightgrey;
    height: 350px;
}

.c{

    
    width: 100% !important;
    border: none;
    margin-bottom: 50px;
    margin-top: 50px;
    
    
    
}
